

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
  font-family: 'AdihausDIN-Regular';
  src: url('../fonts/AdihausDIN-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/AdihausDIN-Regular.woff') format('woff'), 
  url('../fonts/AdihausDIN-Regular.ttf')  format('truetype'), 
  url('../fonts/AdihausDIN-Regular.svg#AdihausDIN-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdihausDIN-Cn';
  src: url('../fonts/AdihausDIN-Cn.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/AdihausDIN-Cn.woff') format('woff'), 
  url('../fonts/AdihausDIN-Cn.ttf')  format('truetype'), 
  url('../fonts/AdihausDIN-Cn.svg#AdihausDIN-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adineuePRO-Bold';
  src: url('../fonts/adineuePRO-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/adineuePRO-Bold.otf')  format('opentype'),
      url('../fonts/adineuePRO-Bold.woff') format('woff'), 
      url('../fonts/adineuePRO-Bold.ttf')  format('truetype'), 
      url('../fonts/adineuePRO-Bold.svg#adineuePRO-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
    height: 100%;
}

body{
	padding-top:0px;
    padding-bottom: 20px;
}

h2 {
	font-family: 'adineuePRO-Bold';
	text-align: center;
	font-size:27px;
	line-height:77px;
}

h2.journey{
	padding-top:100px;
}

strong{
	  font-family: 'adineuePRO-Bold';
}

h3 {
	font-family: 'adineuePRO-Bold';
	text-align: center;
	font-size:22px;
	line-height:45px;
	text-transform:uppercase;
	padding-top:20px;
}

.shop {
    background-color:#282829;
    color:white;
}

.shop__heading{
    margin-top: 0;
    padding:40px 0 10px 0;
    line-height: 32px;
}

.shop__text {
    padding-bottom: 40px;
}

.journey {
    background-color:#f1f1f1;
    height: 100%;
    padding: 30px;
}

h3.journey__heading{
    padding: 40px 0 20px 0;
    font-size: 40px;
}

.journey__text{
    padding:20px 0 10px 0;
    letter-spacing: 0.2ch;
}

.journey__divider {
    border: 1px solid #ccc;
}

/*#lightgallerythree {
	padding:0px 15px 15px;
}*/

body {
	font-size:20px;
	line-height:16px;
	text-align: center;
	  font-family: 'AdihausDIN-Regular';
}

p {
    text-align: center;
	padding-bottom:20px;
    font-family: 'AdihausDIN-Regular';
    line-height:26px;
}

a, a:focus, a:active{color:white;
text-decoration: none;}

a:hover{color:white;
text-decoration: none;}

/* Header */

.header .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.header__image--adidas {
    width: 58px;
}

.header__image--xbyo {
    width: 167px;
    margin: 50px auto;
}

.header__image--original {
    width: 205px;
}

/* Overlay effects */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    background: #dedede;
    transition: all 0.5s ease;
}

.content-open > .overlay {
    display: block;
    opacity: 0.9;
    transition: all 0.5s ease;
}

div[class^='toggle-'] {
    z-index: 10;
}

div[class^='toggle-'] > div {
    background: #ffffff; 
}

.close-button {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 38px;
    pointer-events: none;
}

.close-button--gallery {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 38px;
    pointer-events: none;
}

/* HEADER */


.navbar {
	background:white;
	border:0px;
	text-align: center;
	padding:50px;
	margin-bottom:0px;
}

.row.noborder{
	border-bottom: 0;
}

/** ALIGNMENT */

.right {float:right;}
.left {float:left;}

.vertical-center {
    -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

/* GRID */

.container--border{
    margin-bottom: 5%;
	border:1px solid black;
}

.row {
	border-bottom:1px solid black;
}

.row > div {
    padding: 15px;
}

.row > .our-past,
.row > .themaker-look,
.row > .themaker-making,
.row > .thematerial-challenge {
    padding: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.gridright{
	border-right:1px solid black;
}


.gridleft{
	border-left:1px solid black;
}

.column-top{
	border-bottom:1px solid black;
	padding:15px;
}

.column-bottom{
	padding:15px;
}

.mix{
	padding: 15px 0px;
}

.column-bottom img.gridcenter{
	padding-bottom:15px;
}

/*.col-sm-4 .column-top{
padding:0px 15px 0px 15px;
}*/

.col-sm-4.gridleft.mixlong, .col-sm-4.gridright.mixlong{

	padding:0px;
}

.col-sm-4.gridleft.mixlong .column-bottom{
	padding-bottom:15px;
}

.column-bottom.garment{
	border-bottom:0px solid black;

}

img.garment{
	padding-bottom:15px	;
	width:100%;
}

img.garmenttop{
	padding:0px 15px 15px 15px;
	width:100%;
}

img.gridcenter.nopadding{
	padding-bottom:0px;
}

.noborderbottom{
	border-bottom:0px solid white;
	padding-bottom:0px;
}

.fullcontent{
	padding-left:0px;
	padding-right:0px;
}

.noborderfull{
	border-right:0px solid white;
	border-left:0px solid white;
	border:0px solid white;
}

.beginning2{
	margin-top:-90px
}

.beginning2-content{
	padding:77px 50px;
}

.col-sm-4.themaker{
	padding:0.5px 15px
}

h3.threed{
	padding:111px 30px;
}

h3.impossible{
	padding:41px 30px
}

.makersecond {
	padding:55px 15px;
}

.materialone {
	padding:34px 15px;
}

.column-bottom.garment .hide{
top:400px;
}

img.sm{
	display: none
}

/* GREY EFFECT */

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}

img.grayscale.remove-grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

svg {
    background:url(http://4.bp.blogspot.com/-IzPWLqY4gJ0/T01CPzNb1KI/AAAAAAAACgA/_8uyj68QhFE/s400/a2cf7051-5952-4b39-aca3-4481976cb242.jpg);
}

svg image {
    transition: all .6s ease;
}

svg image:hover {
    opacity: 0;
}

/* HOVER EFFECT */

.hide, .demo-gallery-poster{
    position: absolute;
    top: 130px;
    width:92% !important;
    color: white !important;
    visibility: visible !important;
    padding:15px;
    visibility:hidden;
}

img.grayscale:hover ~ .hide, .hide:hover {
	display:block !important;
	    visibility:visible !important;

}

#lightgallery:hover ~ .hide, .hide:hover {
	display:block !important;
	    visibility:visible !important;

}

img.grayscale:focus ~ .hide{
	display:block !important;
	    visibility:visible !important;

}

img.grayscale:active ~ .hide{
	display:block !important;
	    visibility:visible !important;

}

.hide:hover + img.grid.grayscale.one, 
.hide:active + img.grid.grayscale.one, 
.hide:focus + img.grid.grayscale.one {
	filter: none;
    -webkit-filter: grayscale(0%) !important;
    display:none;
}

img.grid.grayscale.one ~ .hide:hover, 
img.grid.grayscale.one ~ .hide:active, 
img.grid.grayscale.one ~ .hide:focus, 
	filter: none;
    -webkit-filter: grayscale(0%) !important;
    display:none;
}

img.grid.grayscale.one .hide:hover, 
img.grid.grayscale.one .hide:active, 
img.grid.grayscale.one .hide:focus{
	filter: none;
    -webkit-filter: grayscale(0%) !important;
    display:none;
}


.hide.displayon{
	display:block !important;
}

.toggle, .toggle-one, .toggle-three, .toggle-four, .toggle-five, .toggle-six, .toggle-seven, .toggle-eight, .toggle-nine{
    display:none;
    position: relative;
}

img.grayscale ~ .displayon  {
	filter: none;
    -webkit-filter: grayscale(0%) !important;
}

img.grayscale.color{
	filter: none;
    -webkit-filter: grayscale(0%) !important;
}


.row.toggle.slow{
	display:block !important;
}

/*Replace inline styles*/

.padding-left-15 {
    padding: 15px 0px;
}

.padding-50-50 {
    padding: 50px 50px;
}

/* Card */

.card__image {
    padding: 5%;
    margin: 0 auto;
}

.card__title, h3, .video__caption {
    font-family: 'AdihausDIN-Regular';
    font-size: 30px;
    text-transform: none;
    letter-spacing: 0.2ch;
}

.card__title {
    margin-top: 0;
    padding-top: 0;
}

.card__text, p {
    font-size: 20px;
    letter-spacing: 0.2ch;    
}

.card__text {
    padding-bottom: 0;
}

/* Video */

.video__caption {
    padding: 10px 0;
}

/* The beginning */

 .thebeginning__text {
    padding-left: 2%;
    padding-right: 2%;
 }

.our-past__text {
    padding: 10% 15%;
    background:#f1f1f1;
}

.our-past__text p {
    padding-bottom: 0;
    margin-top: 20px;
}

.our-past__image {
    padding: 30px;
}

/* The maker */

.themaker__text {
    padding-left: 2%;
    padding-right: 2%;
}

.themaker-look__text {
    padding: 30px 30px;
    background:#f1f1f1;
}

.themaker-look__text p {
    padding-bottom: 0;
}

/* The material */

.materialone__text {
    padding-left: 2%;
    padding-right: 2%;
}

.thematerial-challenge__text {
    padding: 18% 10%;
    background:#f1f1f1;
}

.thematerial-challenge__text p {
    padding-bottom: 0;
}

/* Gallery */

.lg-backdrop {
    background-color: rgba(222,222,222,0.9);
}

.lg-toolbar {
    display: none;
}

.lg-outer .lg-thumb-item {
    border-radius: 0;
    border: 0;
    margin-bottom: 10px;
    margin-right: 10px !important;
}

.lg-outer .lg-thumb-outer {
    background-color: transparent;
}

.lg-toogle-thumb {
    display: none;
}

@media only screen and (min-width: 992px) {

    .lg-outer .lg-thumb-outer {
        height: 100% !important;
        background-color: transparent;
        position: initial;
        top: initial;
        bottom: initial;
        max-height: 100%;
        z-index: 1;
    }

    .lg-thumb.group {
        position: initial;
        top: 50%;
        left: 55%;
        transform: translateY(-50%) !important;
        width: 30% !important;
        min-width: 340px;
    }

    .lg-outer .lg-inner {
        width: 55%;
    }

    .lg-outer .lg-thumb {
        height: initial; 
    }

    .lg-outer .lg-thumb-item {
        height: auto;
    }

    .lg-outer .lg-img-wrap {
        text-align: right;
        padding-right: 20px;
    }

}