

/* SMALL SCREEN NO RETINA*/

@media only screen and (max-width: 1199px) {

    .hide--md {
        display: none;
    }

    .row-eq-height--lg {
        display: block;
    }

    h3.journey__heading{
        padding: 0;
        font-size: 40px;
    }

    h2.journey{
        padding-top:60px;
    }

    .hide, .demo-gallery-poster{
        top:90px;
    }

    h3.shop{
    padding:50px 0px;
    }

    #lightgallerythree {
        padding:0px 15px 15px;
    }

    .beginning2 {
        margin-top: -89px;
    }

    .beginning2-content{
        padding:37px 50px 0px 50px;

    }

    .beginning2-content p{
    padding-bottom:0px;
        }

    .themaker p br{
        display:none;
    }

    .col-sm-4.themaker{
        padding:0px 15px
    }

    .themaker h2{
        margin-top:3px;
    }

    .materialone {
        padding:7.5px 15px;
    }

    .threed br{
        display: none;
        text-align: center;
        padding:0px 50px;
    }

    h3.threed{
        padding:57px 70px
    }

    h3.impossible{
        padding:21px 30px
    }

    .column-bottom.garment .hide{
    top:300px;
    }

    img.big{display:none;}
    img.sm{display:block;}
    .makersecond {
        padding:15px;
    }

    .makersecond p {
    margin-bottom:0px;
    padding-bottom:10px;
    }

    p {
        /*padding-bottom: 40px;
        font-family: 'AdihausDIN-Regular';*/
        line-height: 21px;
        font-size: 18px;
    }

    .journey, .shop {
        border-left: 0;
    }

}

@media only screen and (max-width: 991px) {

    p {
        font-size: 14px;
        letter-spacing: 0.2ch;    
    }

    .card__text {
        font-size: 16px;
        letter-spacing: 0.2ch;    
    }

    .hide, .demo-gallery-poster{
        top: 30px;
    }

    .header__image--xbyo {
        margin: 0 auto;
    }

}

@media only screen and (max-width: 767px) {

    .row-eq-height {
        display: block;
    }

    .hide, .demo-gallery-poster{
        top: 30%;
    }

    .container--border{
        border: 0;
    }

    .row {
        border-bottom: 0;
    }

    .gridright{
        border-right: 0;
    }

    .gridleft{
        border-left: 0;
    }

    .column-top{
        border-bottom: 0;
    }

    .container--border div[class^='col-'] {
        border-bottom:1px solid black;
    }

}

@media only screen and (min-width: 290px) and (max-width: 980px) {

	h2.journey {
    padding-top: 15px !important;
}

}

/** TABLET LANDSCAPE **/

@media only screen and (max-device-width : 1024px) and (orientation : landscape) { 

    .hide {
        display: block !important;
    }

}

/* TABLET PORTRAIT **/

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {

    .hide {
        display: block !important;
    }

}

/* MOBILE LANDSCAPE */

@media only screen and (max-device-width : 667px) and (orientation : landscape) {

    .hide {
        display: block !important;
    }

}

/* MOBILE PORTRAIT */

@media only screen and (max-device-width : 667px) and (orientation : portrait) {

    .hide {
        display: block !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .full-image {
        overflow: hidden;
    }

    .full-image img.grayscale {
        width: 127%;
        margin-left: -13%;
    }

    .hide {
        top: 60px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .full-image--material {
        overflow: hidden;
    }

    .full-image--material img.grayscale {
        width: 104%;
    }
}